<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../../../../assets/logo.jpg" alt="Logo" width="80" height="80">
  </div>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="credenciales.login" name="usuario" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="credenciales.pass" name="password" type="password" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorInicioSesion">
      <p>No se ha podido iniciar sesión</p>
    </ion-text>
    <ion-button expand="block" type="submit" class="ion-margin-top">Entrar</ion-button>
  </form>
</ion-content>